{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}

<div>
    <section>
        <div class="grid grid-container">
            <div class="grid-2">
                <article class="card-asset scf-is-selected-functions">
                    <h1 class="coral-Heading coral-Heading--1">{{i18n "Community Group Template Builder"}}</h1>
                    <h4 class="coral-Heading coral-Heading--4 scf-css-dragarea">{{i18n "Order the Community Functions as they will show in the top level navigation bar"}}</h4>
                    <div class="dropzone">
                        <ul class="scf-js-community-function-list draggable" data-init="draggable-list" data-allow="reorder  drop">
                        </ul>
                    </div>
                </article>
            </div>
            <div class="grid-2">
                {{include this.id path="communityfunctions" resourceType='social/console/components/hbs/draggablecommunityfunctions'}}
            </div>
        </div>
    </section>
</div>
