{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<h4 class="text-primary">Most Active 20+ <b class="caret"></b></h4>
<ul class="list-group grouplist">
    <li class="list-group-item">
        <div class='username'>
            <div>
                <img src="http://api.randomuser.me/portraits/men/14.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
            </div>
            <div class="col-xs-12 col-sm-9 username">
                <a href='#'> <span class="name text-center">Last Samurai</span> </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class='username'>
            <div>
                <img src="http://api.randomuser.me/portraits/women/10.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
            </div>
            <div class="col-xs-12 col-sm-9 username">
                <a href='#'> <span class="name text-center">Lily James</span> </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class='username'>
            <div>
                <img src="http://api.randomuser.me/portraits/women/13.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
            </div>
            <div class="col-xs-12 col-sm-9 username">
                <a href='#'> <span class="name text-center">Andrea Gale</span> </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </li>
</ul>
