{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2015 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="scf-analytics-js-framework-list" data-component-id="{{id}}" data-scf-component="social/reporting/analytics/components/hbs/frameworklist">
    <span class="coral-Select coral-Form-field" data-init="select">
        <button type="button" class="coral-Select-button coral-MinimalButton">
            {{#if items}}
                {{#if items.[0]}}
                    <span class="coral-Select-button-text">{{items.[0].name}}</span>
    {{/if}}
    {{/if}}
    </button>
    <select class="coral-Select-select" name="analyticsCloudConfigPath">
        {{#each items}}
            <option value="{{this.path}}">{{this.name}}</option>
        {{/each}}
    </select>
    </span>
</div>
