{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2015 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="scf-communities-report-form-wrapper coral-Form-fieldwrapper" id="scf-js-analytics-dateinterval">
    <coral-select id="scf-js-analytics-datelist" class="coral-Form-field">
        <coral-select-item value="7" selected>{{i18n "Last 7 days"}}</coral-select-item>
        <coral-select-item value="30">{{i18n "Last 30 days"}}</coral-select-item>
        <coral-select-item value="90">{{i18n "Last 90 days"}}</coral-select-item>
        <coral-select-item value="365">{{i18n "Last year"}}</coral-select-item>
    </coral-select>
</div>
