{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="row input-group custom-search-form">
    <span class="input-group-btn">
                <button class="btn btn-default user-avatar" type="button">
                    <span class="glyphicon glyphicon-user"></span>
    </button>
    </span>
    <input type="text" class="form-control" placeholder="Log In or Sign Up to post">
    <span class="input-group-btn">
                <button class="btn btn-default" type="button" style="color: rgb(204, 204, 204);">
                    <span class="glyphicon glyphicon-upload"></span>
    </button>
    </span>
</div>
<div class="row post-btn">
    <button class="btn pull-right">
        Post Update
    </button>
</div>
<div class="row post-btn">
    <div class="panel panel-primary">
        <table class="table table-hover" id="dev-table">
            <thead>
                <tr>
                    <th>Member</th>
                    <th>Action</th>
                    <th>Date <b class="caret"></b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#' style="padding-top: 15px;"> <span class="name text-center">Scott Stevens</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>A post you follow</b>
                        </p>
                        <p class="text-muted">
                            Liked a discussion
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 6:20 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/men/15.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">William Wilson</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>Marked a post as Spam</b>
                        </p>
                        <p class="text-muted">
                            Inside Assets
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 5:45 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/men/13.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">Ben Zin</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>Violation Resolved</b>
                        </p>
                        <p class="text-muted">
                            Fake Person Violation resolved
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 4:10 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/women/13.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">Andrea Gale</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>Profile Updated</b>
                        </p>
                        <p class="text-muted">
                            Added profile pic
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 3:38 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/women/43.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">Reeta Skeeter</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>Edited Comment</b>
                        </p>
                        <p class="text-muted">
                            Edited his own comment
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 3:35 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/men/45.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">Johnny Williams</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>Earned a new badge</b>
                        </p>
                        <p class="text-muted">
                            Very Responsive
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 3:20 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/men/48.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">Neal Cooper</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>Following a new topic</b>
                        </p>
                        <p class="text-muted">
                            A topic you follow
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 2:50 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/women/20.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">Rhonda Knight</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>A post you follow</b>
                        </p>
                        <p class="text-muted">
                            Liked a discussion
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 1:40 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/men/20.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">Omar Abdul</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>Profile Updated</b>
                        </p>
                        <p class="text-muted">
                            Preferences
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 1:10 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/women/10.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">Lily James</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>Updated Event</b>
                        </p>
                        <p class="text-muted">
                            An event on Tech Summit
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 1:05 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/men/10.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">Jim Seng</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>Submitted a journal abstract</b>
                        </p>
                        <p class="text-muted">
                            Waiting for your approval
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 1:00 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/women/49.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">Arya Willis</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>Created a new group</b>
                        </p>
                        <p class="text-muted">
                            Group under tech support
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 12:55 PM <small>(2014)</small></h5></td>
                </tr>
                <tr>
                    <td>
                        <div class='username'>
                            <div>
                                <img src="http://api.randomuser.me/portraits/men/14.jpg" alt="Scott Stevens" class="img-responsive img-circle pull-left" style="width:35px; height:35px; " />
                            </div>
                            <div class="col-xs-12 col-sm-9 username">
                                <a href='#'> <span class="name text-center">Last Samurai</span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    <td>
                        <p class="text-active">
                            <b>A post you follow</b>
                        </p>
                        <p class="text-muted">
                            Liked a discussion
                        </p>
                    </td>
                    <td>
                        <h5> 15 Aug, 12:05 PM <small>(2014)</small></h5></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /input-group -->
