{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="foundation-content-current">
    <div class="endor-Panel-header foundation-layout-mode2">
        <nav class="foundation-layout-mode2-item foundation-layout-mode2-item-active endor-ActionBar js-granite-endor-ActionBar" data-foundation-layout-mode2-item-mode="default">
            <div class="endor-ActionBar-left" style="width: 192px;">
                <a class="endor-ActionBar-item coral-Button coral-Button--secondary coral-Button--quiet coral-Button--graniteActionBar" href="/communities/communitysitetemplates"> <i class="coral-Icon coral-Icon--close"></i>
                    <span>{{i18n "Cancel"}}</span>
                </a>
                <button id="cq-social-createsitetemplate" class="endor-ActionBar-item coral-Button coral-Button--secondary coral-Button--quiet coral-Button--graniteActionBar" type="submit"> <i class="coral-Icon coral-Icon--check"></i>
                    <span>{{i18n "Done"}}</span>
                </button>
            </div>
        </nav>
    </div>
</div>
